@import './variables'

.body
  background: lighten(backgroundColor, 90%)
  padding: 0


.root
  display: flex

.invoice
  flex: 0 0 pageWidth
  position: relative
  width: pageWidth
  min-height: pageHeight
  margin: 0 auto
  padding: pageGutter
  padding-top: pageTopPadding
  background: backgroundColor
  color: textColor
  font-family: soleilFontFamily
  font-size: fontSizeBase
  line-height: 1

  strong { font-weight: 600 }

.header
  display: flex
  padding-bottom: 20px
  min-height: 128px

.headerHalf
  flex-basis: 50%

  & + &
    text-align: right

.headerName
  composes: headerHalf

.topRightText
  font-size: 26px
  text-transform: uppercase
  letter-spacing: 6px
  color: accentColor
  font-weight: 600

.myName
  color: accentColor
  font-size: 41px
  margin-bottom: 8px

.abn
  font-size: 15px

.detailsRow
  display: flex
  justify-content: space-between

.detailBox
  padding: rowInnerPadding 0
  border-top: 1px solid borderColor
  flex: 0 0 auto

  &.one   { flex-basis: onePercentage }
  &.two   { flex-basis: twoPercentage }
  &.three { flex-basis: threePercentage }


.detailLabel
  color: altTextColor
  text-transform: uppercase
  font-size: fontSizeSmall
  font-weight: 600
  margin-bottom: 1.4em
  letter-spacing: .5px

.detailValue
  font-size: fontSizeBase

.detailValueBig
  composes: detailValue
  font-size: fontSizeLarge
  margin-top: -3px // to nudge back up in line with regular value


///
// Invoice Table
///
.invoiceTable
  margin-top: sectionPadding
  color: accentColor

.invoiceRow
  display: flex
  border-top: 1px solid accentColor
  font-size: 15px

.invoiceRowHeader
  composes: invoiceRow
  text-transform: uppercase
  font-weight: 600

  &, & + .invoiceRow { border-top-width: 3px }

.invoiceCell
  flex: 1 1 100%
  padding: 20px 7px
  content: 'invoiceCell'
  text-align: right
  margin-top: -1px

  &:first-child { text-align: left}

  &:nth-child(2) { flex: 0 0 20% }
  &:nth-child(3) { flex: 0 0 20% }
  &:nth-child(4) { flex: 0 0 20% }


///
// Invoice summary box
///
.summary
  display: flex
  margin-top: sectionPadding
  background: altAccentColor
  color: darken(textColor, 40%)

.summaryItem
  composes: detailBox
  padding: rowInnerPadding
  flex: 0 0 20%
  border: none

.summaryLabel
  color: darken(borderColor, 40%)
  composes: detailLabel

.summaryValue
  composes: detailValueBig

.summaryItemTotal
  composes: summaryItem
  flex-basis: 40%
  background: accentColor
  text-align: right
  color: white

  .summaryLabel
    color: #CEE5FF

.summaryOperator
  flex-basis: auto
  composes: summaryItem
  padding-left: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.summaryOperatorEquals
  composes: summaryOperator
  flex: 1 1 100%

.summaryPlus
  _sideA = 4px
  _sideB = 18px

  width: _sideB
  height: _sideB
  position: relative

  &:after,
  &:before
    content: ''
    background: white
    display: block
    position: absolute

  &:after
    height: _sideB
    width: _sideA
    left: (_sideB / 2) - (_sideA / 2)

  &:before
    height: _sideA
    width: _sideB
    top: (_sideB / 2) - (_sideA / 2)

.summaryEquals
  _sideA = 4px
  _sideB = 18px

  width: _sideB
  height: _sideB
  display: flex
  flex-direction: column
  justify-content: space-around
  align-self: flex-end

  div
    background: white
    display: block
    height: _sideA
    width: _sideB


///
// Payment details
//
.paymentDetails
  margin-top: sectionPadding
  font-size: 14px
  line-height: 1.4


@page
  size: A4
  margin: 0

@media print

  html, body
    width: 210mm
    height: 297mm
    margin: 0

  .body, .page
    margin: 0
    background: backgroundColor
    border: none
    width: 100%

  .editor
    display: none

  .root
    display: block