backgroundColor = #FDF9EF
textColor = #656667
altTextColor = #A6A8A6
borderColor = #D9D7D5
accentColor = #4099FF
altAccentColor = #DBE1DF

pageWidth = 210mm
pageHeight = 297mm

pageGutter = 80px // 100px
pageTopPadding = 109px
rowGutter = 28px
rowInnerPadding = 18px
sectionPadding = 20px

fontSizeSmall = 10px
fontSizeBase = 16px
fontSizeLarge = 24px

gutter = 28px

onePercentage = 31%
twoPercentage = 48%
threePercentage = 15%

soleilFontFamily = "soleil", sans-serif
sourceCodeProFontFamily = "source-code-pro", sans-serif
