@import '../variables'

.row
  display: flex
  justify-content: space-between

.box
  padding: rowInnerPadding 0
  border-top: 1px solid borderColor
  flex: 0 0 auto

  &:nth-child(1) { width: 33.333% }
  &:nth-child(2)
    width: 66.666%
    margin-left: 10px

.label
  color: altTextColor
  text-transform: uppercase
  font-size: fontSizeSmall
  font-weight: 600
  margin-bottom: 1.4em
  letter-spacing: .5px

.value
  font-size: fontSizeBase

.valueBig
  composes: value
  font-size: fontSizeLarge
  margin-top: -3px // to nudge back up in line with regular value
