@import '../variables'

formGutter = 2%

///
// Editor
//
.root
  flex: 1 1 100%
  background: lighten(backgroundColor, 90%)
  box-shadow: 0 0 15px -3px #1E1F1F
  z-index: 2
  font-family: soleilFontFamily
  color: textColor
  padding: 30px

.form
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.halfField
  flex: 0 0 (50% - formGutter)

@media print

  .root
    display: none