@import '../variables'

.root
  flex: 0 0 pageWidth
  position: relative
  width: pageWidth
  min-height: pageHeight
  margin: 0 auto
  padding: pageGutter
  padding-top: pageTopPadding
  background: backgroundColor
  color: textColor
  font-family: soleilFontFamily
  font-size: fontSizeBase
  line-height: 1

  strong { font-weight: 600 }