* { box-sizing: border-box; }

// :global
//   .wf-loading
//      visibility: hidden

//    .wf-active, .wf-inactive
//      visibility: visible

body
  font-family: "soleil", sans-serif;
  font-size: 20px
  background: #FEFEFC
  color: #656667
  padding: 0 20px

.appRoot
  width: 100%
  min-height: 100vh
  max-width: 700px
  margin: 0 auto
  text-align: left
  overflow: auto
  display: flex
  flex-direction: column

.main
  margin-top: 50px
  flex-grow: 1

// Tax calculator
.heading
  margin: 0;
  font-weight: 600

.form
  display: flex
  justify-content: space-between

  > div
    flex: 0 0 48%

.resultsTable
  td, th
    padding-right: 1.5ch

  strong
    font-weight: 600

.subheading
  font-weight: 600
  margin: 1.5em 0 .5em

.fineprint
  font-size: 12px
  padding-bottom: 15px


:global
  .example-enter
    opacity: 0.01

  .example-enter.example-enter-active
    opacity: 1
    transition: opacity 150ms ease-out

  .example-leave
    opacity: 1

  .example-leave.example-leave-active
    opacity: 0.01
    transition: opacity 150ms ease-in
